*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 4   00px;
    background-color: #efd9c3;
}
.navbar{
    z-index: 3;
    height: 60px;
    width: 100%;
    background-color: #efd9c3;
    position: fixed;
}
.navbar>.nav{
    float: right;
    margin-top: 5px;
    margin-right: 10%;
}
.navbar>.nav>.navlist{
    list-style-type: none;
}

.navbar>.nav>.navlist>li{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: #252324;
}

.orderOnline{
    background-color: #252324;
    padding: 10px;
    border-radius: 10px;
}

.logo{
    float: left;
    margin-top: 5px;
    margin-left: 10%;
}
.logoImg{
    width: 70px;
    margin: 5px;
}

.headerContent{
    position: relative;
    padding: 50px;
}
.judulH1{
    font-size: 50px;
    
}
.caption{
    width: 550px;
    margin-top: 10%;
    margin-left: 10%;
    text-align: left;
    display: inline-block;
}
.caption>.orderFind{
    list-style-type: none;
    display: inline-block;
}
.orderFind li{
    display: inline-block;
    margin-top: 20px;
}
.caption>.orderFind>.order{
    color: white;
    background-color: #252324;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    width: 130px;
    height: 45px;
}
.caption>.orderFind>.find{
    border: 2px solid #252324;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    width: 150px;
    height: 45px;
}
.bagianKopi{
    right: 100px;
    top: 100px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}
.gambarKopi{
    top: 0;
    width: 500px;
}
.waku{
    position: fixed;
    right: 3%;
    bottom: 3%;
    z-index: 5;
}
/* SECTION HANDMADE */
.handmade{
    background-color: #252324;
    padding: 100px;
    display: inline-block;
    width: 100%;
}

.ourMenu{
    background-color:#614D40;
    width: 100%;
    padding: 50px;
    color: #EFD9C3;
    margin-right: 50px;
}
.ourMenuCaption{
    vertical-align: top;
    padding-top: 60px;
    margin-left: 50px;
    display: inline-block;
}
.ourMenuCaption p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.ourMenuImg{
    display: inline-block;
    margin-left: 10%;
}
.imgMenu{
    border-radius: 10px;
}
.viewourmenu{
    border: 2px solid #EFD9C3;
    text-align: center;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: 8px;
}
.ourStory{
    background-color:#614D40;
    width: 100%;
    padding: 50px;
    color: #EFD9C3;
    margin-top: 50px;
    margin-left: 30px;
}
.ourStoryCaption{
    vertical-align: top;
    padding-top: 60px;
    margin-right: 25px;
    margin-left: 120px;
    display: inline-block;
}
.ourStoryCaption p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.gambarLearn{
    display: inline-block;
}
.imgLearn{
    border-radius: 10px;
}
.learnmore{
    border: 2px solid #EFD9C3;
    text-align: center;
    align-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-top: 8px;
}
.medsos{
    background-color: #614D40;
    width: 100%;
    height: 130px;
}

.medsosContainer{
    /* display: flex; */
    border: 2px solid;
    
    justify-content: center;
    padding: 30px;
    display: inline-block;
    right: 50%;
}
.instagram{
}

.tiktok{
    border: 2px solid black;
    display: inline;
}

.sosmedCaption{
    margin-left: 10px;
}

.iconSosmed{
    width: 30px;
}

.galery{
    background-color: #EFD9C3;
}

.listFoto{
    /* display: flex; */
    list-style-type: none;
}

/* .navbar {
  position: fixed;
  
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 218, 183);
  z-index: 10;
  display: flex;
}
.logoImg{
    width: 60px;
    margin-top: 8px;
    margin-left: 100%;
}
.navbar>.nav{
    
    position: relative;
    margin-top: 10px;
    right: 0;
}
.navbar>.nav>.navlist{
    display: flex;
}
.navbar>.nav>.navlist>li{
    list-style-type: none;
    float: left;
    margin: 0 8px;
    padding: 5px;
}
.orderOnline{
    background-color: rgb(128, 33, 33);
    border: 2px solid rgb(128, 33, 33) ;
    border-radius: 10%;
    padding: 5px 10px;
    color: white;
}

.headerContent{
    position: absolute;
    top: 50px;
    margin: 50px;
}



.headerContent {
  margin-top: 20px;

} */
